[Unit]
Description=NodeExporter

[Service]
TimeoutStartSec=0
User=node-exporter
ExecStart=/usr/local/bin/node_exporter \
--web.listen-address=:9100

[Install]
WantedBy=multi-user.target